<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/adminpage.css">

    <h1>Welcome Admin</h1>
    <br>
    <h3>Users List</h3>
    <table width="50%">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        <%if(users.length>0){%>
            <% for (let i=0; i <users.length; i++ ) { %>
                <%if(users[i].username!=='admin'){%>
                    <tr>
                        <td>
                            <%=users[i].username %>
                        </td>
                        <td>
                            <%=users[i].email %>
                        </td>
                        <td>
                            <a href="/admin/edituser?id=<%=users[i]._id%>">Edit</a>&emsp;
                            <a href="/admin/deleteuser?id=<%=users[i]._id%>">Delete</a>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
                            <%} else {%>
                                <tr>
                                    <td colspan="5">Users Not Found.</td>
                                </tr>
                                <%}%>
    </table><br>
    <h3>Books List</h3>
    <table width="50%">
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>

        <%if(books.length>0){%>
            <% for (let i=0; i <books.length; i++ ) { %>
                <tr>
                    <td>
                        <%=books[i].name %>
                    </td>
                    <td>
                        <%=books[i].subject %>
                    </td>
                    <td>
                        <a href="/admin/deletebooks?id=<%=books[i]._id%>"><label>Delete</label></a>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">Books Not Found.</td>
                        </tr>
                        <%}%>
    </table>
    <br>
    <h4><a href="/addbooks">Add Book</a></h4>
    <br>
    <h3>PYQs List</h3>
    <table width="50%">
        <tr>
            <th>Semester</th>
            <th>Year</th>
            <th>Action</th>
        </tr>

        <%if(pyqs.length>0){%>
            <% for (let i=0; i <pyqs.length; i++ ) { %>
                <tr>
                    <td>
                        <%=pyqs[i].semester %>
                    </td>
                    <td>
                        <%=pyqs[i].year %>
                    </td>
                    <td>
                        <a href="/admin/deletepyq?id=<%=pyqs[i]._id%>"><label>Delete</label></a>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">PYQs Not Found.</td>
                        </tr>
                        <%}%>
    </table>
    <br>
    <h4><a href="/addpyq">Add Question Paper</a></h4>
    <br>
    <h3>PPTs List</h3>
    <table width="50%">
        <tr>
            <th>Semester</th>
            <th>Topic</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>

        <%if(ppts.length>0){%>
            <% for (let i=0; i <ppts.length; i++ ) { %>
                <tr>
                    <td>
                        <%=ppts[i].semester %>
                    </td>
                    <td>
                        <%=ppts[i].topic %>
                    </td>
                    <td>
                        <%=ppts[i].subject %>
                    </td>
                    <td>
                        <a href="/admin/deleteppt?id=<%=ppts[i]._id%>"><label>Delete</label></a>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">PPTs Not Found.</td>
                        </tr>
                        <%}%>
    </table>
    <br>
    <h4><a href="/addppt">Add PPT</a></h4>
    <br>
    <h3>Resource's List</h3>
    <h5>•Data Structures</h5>
    <table width="50%">
        <tr>
            <th>Topic</th>
            <th>Link</th>
            <th>Action</th>
        </tr>

        <%if(resources.length>0){%>
            <% for (let i=0; i <resources.length; i++ ) { %>
                <tr>
                    <td>
                        <%=resources[i].topic%>
                    </td>
                    <td>
                        <%=resources[i].followuplink %>
                    </td>
                    <td>
                        <a href="/admin/deleteresource?id=<%=resources[i]._id%>"><label>Delete</label></a>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">Nothing New.</td>
                        </tr>
                        <%}%>
    </table>
    <br>
    <h4><a href="/addresource">Add Resource</a></h4>
    <br>
    <h5>•Core Subjects</h5>
    <table width="50%">
        <tr>
            <th>Topic</th>
            <th>Notes Link</th>
            <th>Playlist Link</th>
            <th>Questions Link</th>
            <th>Action</th>
        </tr>

        <%if(subjects.length>0){%>
            <% for (let i=0; i <subjects.length; i++ ) { %>
                <tr>
                    <td>
                        <%=subjects[i].topic%>
                    </td>
                    <td>
                        <%=subjects[i].noteslink %>
                    </td>
                    <td>
                        <%=subjects[i].playlistlink %>
                    </td>
                    <td>
                        <%=subjects[i].queslink %>
                    </td>
                    <td>
                        <a href="/admin/deletesubject?id=<%=subjects[i]._id%>"><label>Delete</label></a>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">Nothing New.</td>
                        </tr>
                        <%}%>
    </table>
    <br>
    <h4><a href="/addsubject">Add Resource</a></h4>
    <br>



















    <h3>User Feedbacks List</h3>
    <table width="50%">
        <tr>
            <th>Username</th>
            <th>Feedbacks</th>
        </tr>

        <%if(feedbacks.length>0){%>
            <% for (let i=0; i <feedbacks.length; i++ ) { %>
                <tr>
                    <td>
                        <%=feedbacks[i].name %>
                    </td>
                    <td>
                        <%=feedbacks[i].feedback %>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">Users Not Found.</td>
                        </tr>
                        <%}%>
    </table>
    <br>