<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/adminpage.css">
    <h1>Welcome Admin</h1>
    <br>
    <h3>Users List</h3>
    <table width="50%">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        <%if(users.length>0){%>
            <% for (let i=0; i <users.length; i++ ) { %>
                <%if(users[i].username!=='admin'){%>
                    <tr>
                        <td>
                            <%=users[i].username %>
                        </td>
                        <td>
                            <%=users[i].email %>
                        </td>
                        <td>
                            <a href="/admin/edituser?id=<%=users[i]._id%>">Edit</a>
                            <a href="/admin/deleteuser?id=<%=users[i]._id%>">Delete</a>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
                            <%} else {%>
                                <tr>
                                    <td colspan="5">Users Not Found.</td>
                                </tr>
                                <%}%>
    </table><br>
    <h3>Books List</h3>
    <table width="50%">
        <tr>
            <th>Name</th>
            <th>Subject</th>
        </tr>

        <%if(books.length>0){%>
            <% for (let i=0; i <books.length; i++ ) { %>
                <tr>
                    <td>
                        <%=books[i].name %>
                    </td>
                    <td>
                        <%=books[i].subject %>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">Books Not Found.</td>
                        </tr>
                        <%}%>
    </table>
    <br>
    <h4><a href="/addbooks">Add Book</a></h4>
    <br>
    <h3>User Feedbacks List</h3>
    <table width="50%">
        <tr>
            <th>Username</th>
            <th>Feedbacks</th>
        </tr>

        <%if(feedbacks.length>0){%>
            <% for (let i=0; i <feedbacks.length; i++ ) { %>
                <tr>
                    <td>
                        <%=feedbacks[i].name %>
                    </td>
                    <td>
                        <%=feedbacks[i].feedback %>
                    </td>
                </tr>
                <% } %>
                    <%} else {%>
                        <tr>
                            <td colspan="5">Users Not Found.</td>
                        </tr>
                        <%}%>
    </table>
    <br>